body {
  font-family: Rubik, sans-serif;
  font-size: 16px;
}

.header {
  height: 100vh;
}

.header__top {
  background-color: $accent;
  color: $white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header__top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;

  @media (max-width: 550px) {
    justify-content: center;
  }
}

.welcome {
  @media (max-width: 550px) {
    display: none;
  }
}

.wrapper__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language__wrapper {
  position: relative;
}

.language__wrapper svg {
  position: absolute;
  right: 40px;
  bottom: 30%;
  pointer-events: none;
}

.language__select {
  width: 140px;
  height: 100%;
  background-color: $accent;
  color: inherit;
  border: none;
  outline: none;
  padding: 0 5px;
  margin-right: 26px;
  appearance: none;
  cursor: pointer;
}

.language__select > option {
  font-size: inherit;
  font-family: inherit;
}

.login__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.login__wrapper::before {
  content: "";
  width: 2.2px;
  height: 19px;
  position: absolute;
  left: -20px;
  top: 4px;
  background-color: $white;
}

.header__top-link {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.header__top-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  height: 2px;
  width: 100%;
  background-color: $white;
  transform: scale(0);
  transition: all 0.3s;
  z-index: 4;
}

.header__top-link:hover::before {
  bottom: -5px;
  transform: scale(1);
}

.header__top-link:hover {
  color: inherit;
}

.login__link {
  margin-right: 3px;
}

.login__text {
  margin-right: 3px;
}

///////////////////////////////////////////

.heder__middle {
  //margin-top: 70px;
  padding-top: 94px;
  margin-bottom: 48px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_wrapper {
  display: flex;
  align-items: center;
}

.logo_wrapper svg {
  margin-right: 5px;
}

.logo_text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  color: $textcolor;

  @media (max-width: 500px) {
    font-size: 18px;
  }
}

.search__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 46px;
  margin: 0 204px 0 120px;
  position: relative;

  @media (max-width: 1160px) {
    margin: 0 100px 0 100px;
  }

  @media (max-width: 900px) {
    margin: 0 50px 0 50px;
  }

  @media (max-width: 700px) {
    margin: 0 20px 0 20px;
  }

  @media (max-width: 500px) {
    margin: 0 10px 0 10px;
  }
}

.search__input {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid $accent;
  border-radius: 8px;
  padding-left: 25px;

  @media (max-width: 600px) {
    display: none;
  }
}

.search__input.active {
  display: block;
  position: absolute;
  top: -70px;
  width: calc(100vw - 6px);
  left: -184px;

  @media (max-width: 500px) {
    left: -139px;
  }
}

.search__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: $silver_chalice;
}

.search__category-select {
  position: absolute;
  top: 0;
  font-size: 14px;
  line-height: 1.214;
  right: 70px;
  width: 108px;
  height: 100%;
  border: none;
  background-color: transparent;
  border-left: 1.5px solid rgba(227, 227, 227, 0.78);
  outline: none;
  cursor: pointer;
  padding-left: 5px;

  @media (max-width: 700px) {
    display: none;
  }
}

.btn {
  transition: all 0.3s ease-in;
}

.btn:hover {
  background-color: $white;
  border: 1px solid $accent;
}

.search__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  height: 100%;
  background-color: $accent;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1;
  background-image: url(../images/dist/searh_icon.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 600px) {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 3px;
  }
}

.shop__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__inner {
  margin-right: 23px;
  position: relative;
  cursor: pointer;

  @media (max-width: 500px) {
    margin-right: 10px;
  }
}

.cart__inner svg {
  display: block;
}

.cart__count {
  position: absolute;
  top: 0;
  right: -7px;
  border-radius: 50%;
  background-color: $accent;
  width: 12px;
  height: 12px;
  font-size: 7px;
  line-height: 12px;
  color: $white;
  text-align: center;
}

.notification__inner {
  margin-right: 21px;
  cursor: pointer;

  @media (max-width: 500px) {
    margin-right: 10px;
  }
}
.avatar__inner {
  cursor: pointer;
}
//////////////////////////////////////////////////
.nav {
  height: 67px;
  margin-bottom: 12px;

  @media (max-width: 500px) {
    height: 50px;
  }
}

.nav__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  position: relative;
}

.nav__icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $accent;
  height: 100%;
}

.menu__body {
  height: 100%;
  width: 506px;
  margin-left: 82px;
}

.nav__icon {
  width: 24px;
  height: 24px;
  position: relative;
  margin-left: 30px;
  margin-right: 20px;
  cursor: pointer;
  //border: 1px solid red;
}

.nav__icon::before,
.nav__icon::after,
.nav__icon span {
  display: block;
  background-color: $white;
  position: absolute;
  height: 2.5px;
  width: 100%;
  border: none;
  padding: 0;
}

.nav__icon::before,
.nav__icon::after {
  content: "";
}

.nav__icon::before {
  top: 0;
}

.nav__icon::after {
  bottom: 0;
  width: 6px;
}

.nav__icon span {
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
}

.nav__icon-text {
  margin-right: 44px;
  font-weight: 500;
}

.menu__icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;

  @media (max-width: 700px) {
    display: block;
  }
}

.menu__icon::before,
.menu__icon::after,
.menu__icon span {
  background-color: $accent;
  position: absolute;
  right: 0;
}

.menu__list {
  font-size: 14px;
  line-height: 1.214;
  color: $textcolor;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition: transform 0.5s ease;

  @media (max-width: 700px) {
    margin-left: 0;
    background-color: $white;
    position: absolute;
    display: block;
    top: 70px;
    right: 60px;
    width: 100%;
    z-index: 10;
    text-align: right;
    height: 90vh;
    transform: translateX(200%);
  }

  @media (max-width: 700px) {
    right: 10px;
  }

  @media (max-width: 500px) {
    right: 0px;
  }
}

.header__menu-list.menu__icon {
  @media (max-width: 700px) {
    display: block;
  }
}

.header__menu-list.active {
  transform: translateX(0);
  padding-right: 10px;
}

.header__menu-item {
  @media (max-width: 700px) {
    margin-bottom: 40px;
    font-size: 16px;
  }
}

///////////////////////////////////////////////////////
.main__row {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 1160px) {
    justify-content: center;
  }
}

.main__aside {
  flex: 1 1 260px; //454
  background-color: $athens_gray;
  //border: 1px solid red;
  margin: -12px 11px 0 0;
  transition: transform 0.5s ease;

  @media (max-width: 1160px) {
    position: absolute;
    width: 100%; //260px;
    transform: translateX(-300%);
    z-index: 10;
  }
}

.main__aside.active {
  transform: translateX(0);
}

.collection__item {
  padding: 9px 10px 14px 29px;
  border-bottom: 0.8px solid $mercury;
}

.collection__link {
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.02em;
  color: $textcolor;
}

.main__banner {
  background: linear-gradient(
    103.4deg,
    rgba(241, 250, 255, 0.88) 0.89%,
    #f1faff 101.61%
  );
  backdrop-filter: blur(155px);
  //border: 1px solid red;
  flex: 1 1 900px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 0;

  @media (max-width: 900px) {
    display: block;
  }
}

.main__banner-column {
  flex: 1 1 390px;
  max-width: 390px;
  //border: 1px solid red;
  padding: 73px 0 0 47px;
  margin-right: 10px;

  @media (max-width: 900px) {
    margin: 0 auto;
    padding: 73px 0 0 0;
  }

  @media (max-width: 500px) {
    max-width: 320px;
    padding: 45px 0 0 0;
  }
}

.main__banner-subtitle {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: $accent;
  margin-bottom: 6px;

  @media (max-width: 500px) {
    font-size: 18px;
  }
}

.main__banner-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: $mine_shaft; ////////////
  margin-bottom: 27px;
  position: relative;

  @media (max-width: 500px) {
    font-size: 30px;
  }
}

.main__banner-title::after {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 29px;
  width: 175px;
  height: 5px;
  background-image: url(../images/dist/deko_line.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__banner-offer {
  font-weight: 600;
  font-size: 27px;
  line-height: 0.96;
  color: rgba(81, 81, 81, 0.71);
  margin-bottom: 35px;

  @media (max-width: 500px) {
    font-size: 22px;
  }
}

.main__banner-btn {
  display: inline-block;
  font-family: Mulish, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.25;
  border-radius: 5px;
  border: 1px solid $accent;
  padding: 10px 17px;
  margin-bottom: 115px;

  @media (max-width: 900px) {
    margin-bottom: 50px;
  }
}

.btn {
  background-color: $accent;
  color: $white;
}

.main__banner-slider {
  //border: 1px solid green;
  flex: 0 0 462px; //364
  max-width: 462px;
  margin-right: auto;
  display: flex;

  @media (max-width: 900px) {
    margin: 0 auto;
  }

  @media (max-width: 500px) {
    flex: 0 0 300px; //364
    max-width: 300px;
  }
}

.swiper-wrapper {
  // width: 100%;
  //border: 1px solid green;
}

.swiper-slide {
  cursor: pointer;
}

.banner_img {
  width: 374px;
  height: 374px;
  margin: 33px 0 20px;

  @media (max-width: 500px) {
    width: 240px;
    height: 240px;
  }
}

.swiper-pagination {
  width: 100%;
  height: 12px;
  text-align: left !important;
  left: -7px !important;
}

.main__banner-pagination .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: $accent !important;
  opacity: 0.29 !important;
  margin: 0 8px 4px !important;
}

.main__banner-pagination .swiper-pagination-bullet-active {
  width: 24px !important;
  height: 9px !important;
  border-radius: 6px !important;
  background-color: $accent !important;
  opacity: 1 !important;
  margin-bottom: 6px !important;
}

.swiper__preview {
  flex: 0 0 100px;
  max-width: 100px;
  height: 430px;
  padding: 20px 0 !important;
  overflow: hidden;

  @media (max-width: 500px) {
    max-width: 60px;
    height: 360px;
  }
}

.swiper-wrapper__preview {
  cursor: pointer;
}

.swiper-slide__preview {
  //border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $white;
  border-radius: 8px;
  //border: 1px solid red;
}

.product__img {
  margin-top: 6px;
  margin-bottom: 5px;
  height: 52px;
}

.product__price {
  font-weight: 500;
  font-size: 11px;
  line-height: 1; //3.71;
  color: $accent;
  margin-bottom: 2px;
}

.product__price span {
  font-size: 7px;
}

.product__descr {
  font-weight: 500;
  font-size: 7px;
  line-height: 1; //3.71;
  color: $textcolor;
  margin: 0;
  margin-bottom: 4px;
}
.goto-top {
  position: fixed;
  display: block;
  background-color: $accent;
  width: 40px;
  height: 40px;
  right: 30px;
  bottom: 25px;
  border-radius: 50%;
  z-index: 10;
  opacity: 0;
}

.goto-top.visible{
	opacity: 1;
	//background-color: red;
}
.goto-top__img {
  position: absolute;
  transform: translatex(-50%) translateY(-50%) rotate(-90deg);
  //object-fit: cover;
  left: 50%;
  top: 50%;
}
